spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/AI"
    username: root
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
logging:
  level:
    root: INFO
    org.example.backendai: DEBUG

  server:
    port: 8080
    servlet:
      context-path: /api